version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: survey-assessment-nginx
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
    networks:
      - survey-network

  frontend:
    image: ${DOCKERHUB_USERNAME}/survey-assessment-frontend:latest
    container_name: survey-assessment-frontend
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://evaly.ru/api
      - NEXT_PUBLIC_API_KEY=${API_KEY}
      - NEXT_PUBLIC_ENABLE_QUICK_TEST=${ENABLE_QUICK_TEST}
    expose:
      - '3000'
    restart: unless-stopped
    networks:
      - survey-network

  backend:
    image: ${DOCKERHUB_USERNAME}/survey-assessment-backend:latest
    container_name: survey-assessment-backend
    environment:
      - CORS_ORIGINS=${CORS_ORIGINS}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - API_KEY=${API_KEY}
      - SECRET_KEY=${SECRET_KEY}
      - ENABLE_QUICK_TEST=${ENABLE_QUICK_TEST}
      - MONGO_URL=${MONGO_URL}
    expose:
      - '8000'
    restart: unless-stopped
    networks:
      - survey-network

  mongo:
    image: mongo:6
    container_name: survey-assessment-mongo
    environment:
      - MONGO_INITDB_DATABASE=assessment
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d
    expose:
      - '27017'
    restart: unless-stopped
    networks:
      - survey-network

volumes:
  mongo_data:

networks:
  survey-network:
    driver: bridge
